body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.header {
  background-color: #ffffff;
  height: 500px;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.top {
  width: 50%;
}

.header .logo {
  width: 25%;
  margin-top: 65px;
  margin-left: 80px;
}

.buttons {
  float: right;
  margin-top: 65px;
  margin-left: -40px;
  margin-right: 28px;
  position: relative;
  left: 10%;
}

.login {
  background-color: transparent;
  border: none;
  font-weight: 600;
  position: relative;
  font-size: 13px;
  margin-right: 30px;

}

.signup {
  background-color: black;
  border: none;
  font-weight: 600;
  position: relative;
  font-size: 13px;
  color: white;
  padding: 10px;
  width: 100px;

}


.mid {
  margin-left: 75px;
  padding-top: 30px;
}

.mid h3 {
  font-size: 32px;
  height: fit-content;
}

.mid p {
  font-size: 18px;
  opacity: 0.5;
  margin-top: -20px;
}



.side-header {
  height: 600px;
  width: 45%;
  position: relative;
  float: right;
  bottom: 100%;
}

.side-header .side-img {
  height: 500px;
  float: right;
  width: 100%;
  position: relative;
  right: 0%;
  margin-top: 64px;
}

.top .search-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-left: 75px;
}


.search-input {
  padding: 20px;
  width: 600px;
  border: 1px solid orangered;
  border-right: none;
  border-radius: 3px 0 0 3px;
  font-size: 16px;
}

.search-input[type=text] {
  font-weight: bold;
  letter-spacing: 0.5px;
}


.search-button {
  padding: 10px 30px;
  background-color: orangered;
  color: #fff;
  border: 1px solid orangered;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  font-weight: 550;
  cursor: pointer;
}

.search-container img {
  background: url(images/gps.png) no-repeat scroll 7px 7px;
  margin-top: 22px;

}

.btn-locate #icon {
  margin-left: -90px;
  height: 10px;
  width: 10px;
  
}

#text {
  padding-left: 0px;
  font-size: 12px;
  text-decoration: none;
  color: #808080b5;
  font-weight: bold;
  color: orangered;
}

#icon,
#text {
  display: inline;
  margin-top: 25px;

}

#text:hover{
  color: gray;
}
.locate:hover {
  opacity: 0.8;
  cursor: pointer;
  
}

.header .place {
  margin-left: 80px;
  margin-top: 30px;
}

.place h4 {
  color: #80808087;
  font-size: 13px;
}

.place p {
  color: rgb(172, 172, 172);
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -5px;
}

.place a {
  text-decoration: none;
  color: gray;
}

.place span {
  color: #6f6f6f;
}

.middle {
  background-color: #2b1e16;
  height: 400px;
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: -20px;


}

.s1 {
  text-align: center;
  float: left;
  margin-left: 40px;
  margin-top: 12px;
}

.img1 {
  height: 200px;


}

.s1 p {
  color: azure;
  font-size: 16px;
}

.s1 h3 {
  color: white;
}

.s1 .img3 {
  height: 55%;


}


/*   */

.s2 {
  text-align: center;
  float: left;
  margin-left: 100px;


}

.s2 p {
  color: azure;
  font-size: 16px;
}

.s2 h3 {
  color: white;
}

.img2 {
  height: 200px;
}



/* */
.s3 {
  text-align: center;
  float: right;
  margin-left: 100px;
  height: max-content;
  margin-top: 12px;

}

.s3 p {
  color: azure;
  font-size: 16px;
}

.s3 h3 {
  color: white;
}

.img3 {
  height: 200px;
}

.middle2 {
  height: 500px;
  width: 100%;
  float: right;
}

.middle2 .text {
  margin-left: 100px;
  height: 200px;
  font-size: 25px;
}

.middle2 p {
  font-size: 16px;
  line-height: 10px;
  font-weight: bold;
  color: #6f6f6f;
}

.middle2 h2 {
  line-height: 20px;
}

.images .app {
  margin-left: 25px;
  border-radius: 20px;
}

.images .play {
  margin-left: 100px;
  border-radius: 20px;
  height: 62px;
}

.phone-img1 {
  left: 45%;
  position: absolute;
  width: fit-content;
  margin-top: -27.5%;
}

.pixel-img {
  margin-top: -10.5%;
  height: 480px;

}

.phone-img2 {
  margin-top: -8.5%;
  left: 69%;
  position: absolute;
  width: fit-content;
}

.iphone-img {
  margin-top: -33%;
  height: 480px;
}


/* Footer */

.footer {
  flex-basis: content;
  background-color: black;
  margin-top: 82.7%;
  padding-bottom: 100px;
  font-size: small;
  display: grid;

}

.list ul {
  margin-top: -10px;
  color: #fff;
}

.list2 {
  margin-left: 25%;
  color: #fff;
  margin-top: -280px;
  height: max-content;
  width: max-content;
}

.list3 {
  margin-left: 50%;
  color: #fff;
  margin-top: -110px;
}

.img-list {
  margin-left: 75%;
  margin-top: -200px;
  display: grid;
  width: max-content;
}

.img-list .app {
  margin-left: 50px;
  border-radius: 10px;
  height: 45px;
  border: 1.0px solid white;

}

.img-list .play {
  margin-left: 50px;
  border-radius: 10px;
  height: 45px;
  border: 1.0px solid white;

}

.topfooter {
  padding-top: 50px;
}

.divider {
  height: 1px;
  width: 90%;
  background-color: #fff;
  margin-top: 142px;
  margin-left: 30px;

}

.footer h2 {
  color: #787777;
  font-size: 15px;
  
}

.placesto {
  margin-top: 30px;
  margin-left: 40px;
}

.placesto p:hover{
  opacity: 0.5;
  cursor: pointer;
}

.placesto .col1 {
  color: #fff;
  width: max-content;
  font-size: 15px;
}

.placesto .col2 {
  color: #fff;
  width: max-content;
  margin-left: 123px;
  margin-top: -357%;
  position: relative;
  left: 150px;
  font-size: 15px;
  line-height: 17px;
}

.placesto .col3 {
  color: #ffffff;
  width: max-content;
  margin-top: -359%;
  position: relative;
  left: 600px;
  font-size: 15px;

}

.placesto .col4 {
  line-height: 17px;
  color: #fff;
  width: max-content;
  margin-top: -360%;
  position: relative;
  left: 950px;
  font-size: 15px;
}

.divider2 {
  height: 1px;
  width: 90%;
  background-color: #fff;
  margin-top: 60px;
  margin-left: 30px;

}

.low-footer{
  height: 30px;
}


.low-footer img {
  margin: 40px;
  height: 40px;
}

.low-footer h2{
  margin-left: 30%;
  position: absolute;
  margin-top: 50px;
}




.low-footer img,.social,h2{
  display: inline;
}
.social{
  float: right;
  position: relative;
  margin-top: 40px;
  margin-right: 100px;
}

.social img{
  height: 20px;
  margin: 10px;
  
}

.social img:hover{
  height: 25px;
  margin: 10px;
  cursor: pointer;
  
}